body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

main {
    position: relative;
    border: 5px solid rgb(16, 110, 1);
    width: fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 100px ;
    border-radius: 10px;
    background-color: rgb(251, 245, 245);
    
}

.title {
    
    margin: 5px 20px 10px 20px;

}
input {
    width: 85%;
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border:2px solid #5f9341;
    
}
input:focus {
    border: none;
}
.btns {
    display: flex;
    gap: 5px;
}

button {
    color: white;
    display: flex;
    align-items: center;
    border: none;
    padding: 6px 10px;
    background:#46be01;
    border: #296e01 solid 1px;
    margin-top: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
}
 #save_input_btn:hover {
    color: black;
    background: #3e722e;
 }

#del_all_btn {
    color:black;
    font-weight: bold;
}
#del_all_btn:hover  {
    color:#f34d4d;
    background: #000;
}
#save_url_btn:hover {
    color: black;
    background: #3e7220;
}

#ul_el {
    margin: 0px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px 40px 10px 0px;
    list-style-type: none;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 15px;
}
#ul_el {
    margin-top: 15px;
}

a:link {
    color:#296e01;
    
}

#warning_el {
    top:0;
    left:10;
    
    position:absolute;
    margin-top: 5px;
    justify-items: center;
    color:red;
    font-style: italic;
  
}
